/* ==========================================================================
  Media Queries
========================================================================== */

@mixin respond-to($bp) {
  @media only screen and (max-width: $bp) {
    @content;
  }
}

@mixin respond-above($bp) {
  @media only screen and (min-width: $bp + 1) {
    @content;
  }
}

@mixin respond-between($bp1, $bp2) {
  @media only screen and (min-width: $bp1 + 1) and (max-width: $bp2) {
    @content;
  }
}

@mixin respond-to-height($bp) {
  @media only screen and (max-height: $bp) {
    @content;
  }
}

@mixin respond-above-height($bp) {
  @media only screen and (min-height: $bp + 1) {
    @content;
  }
}

@mixin respond-between-height($bp1, $bp2) {
  @media only screen and (min-height: $bp1 + 1) and (max-height: $bp2) {
    @content;
  }
}
