// Constants - Font Families
$font-primary: 'Montserrat', 'Open Sans', Calibri, Tahoma, Sans-Serif;
$font-secondary: 'Open Sans', Calibri, Tahoma, Sans-Serif;

// Constants - Font Weights
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
$light: 300;

// Styles
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h7,
.h8 {
	font-weight: $bold;
	font-family: $font-primary;
	letter-spacing: 0;
}

.h1 {
	font-size: rem-calc(52);
	line-height: 56px;
}

.h2 {
	font-size: rem-calc(36);
	line-height: 52px;
}

.h3 {
	font-size: rem-calc(24);
	line-height: 40px;
}

.h4 {
	font-size: rem-calc(20);
	line-height: 24px;

	@include respond-to($bp-md) {
		letter-spacing: 0.12px;
	}
}

.h5 {
	font-size: rem-calc(14);
	line-height: 18px;

	@include respond-to($bp-md) {
		letter-spacing: 0.12px;
	}
}

.h6 {
	font-size: rem-calc(12);
	line-height: 18px;

	@include respond-to($bp-md) {
		letter-spacing: 0.12px;
	}
}
