@import "../../../styles/baseline/_styles";

.quiz {
  padding: 70px 0;
}

.title {
  margin-bottom: 50px;
}

.content {
  margin-top: 50px;
}

.checkbox {
  padding: 14px 10px;
  border-radius: 6px;
  border: 1px solid $color-grey;
  margin-bottom: 10px;
}

.title-question {
  margin-bottom: 30px;
}

.questions-and-image {
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 30px;

  @include respond-to($bp-md) {
    grid-template-columns: 1fr;
  }
}